<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Database" value="seacher4"/>
		<add key="tableName" value="search_result"/>
	</appSettings>
	<connectionStrings>
		<add name ="DbCon" connectionString="Host=localhost;Port=5432;Database=seacher4;Username=postgres;Password=Sur999;" 
			 providerName="Npgsql"/>
		<add name ="ServerCon" connectionString="Host=localhost;Port=5432;Username=postgres;Password=Sur999;"
			 providerName="Npgsql"/>
	</connectionStrings>
</configuration>